.ResultCard{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 2% auto;
    justify-content: flex-start;
    justify-items: left;
}

.kana-container{
    display: flex;
    flex-direction: column;
    border: solid 1px grey;
    border-radius: 15px;
    padding: 0 0 0 2vw;
    height: fit-content;
}

.kana-furigana{
    margin: 15px 0 0 15px;
}

.kana-text{
    margin: 0 0 15px 15px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.definition-container{
    height: max-content;
    margin: -2vw 0 0 0;
    border: solid 1px grey;
    border-top: none;
    border-radius: 0 0 15px 15px;
    padding: 4vw 2vw 0vw 2vw;
}

.definition-type{
    text-align: left;
    margin: 0;
}

.definition-text{
    text-align: left;
    margin-top: 0;
    font-size: x-large;
}