@font-face {
  font-family: 'Glacial Indifference';
  src: url('./res/font/GlacialIndifference-Regular.otf');
}

body {
  margin: 0;
  font-family: 'Glacial Indifference';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
